<app-navbar></app-navbar>
<div class="page-top-cover" style="background-image: url('assets/images/main.jpg');">
    <div class="height-parent mid-cen-parent">
        <div class="container text-center content-top-cover">
            <h1 class="mb-4 wow fadeInDown">Graphic Designing</h1>
            <h5 class="mb-4">Showcasing, Have a look at our work!</h5>
            <button class="px-5 py-2 wow fadeInUp" mat-flat-button [routerLink]="['/contact']">Contact Us</button>
        </div>
    </div>
</div>