<app-navbar></app-navbar>
<div class="page-top-cover" style="background-image: url('assets/images/main.jpg');">
    <div class="height-parent mid-cen-parent">
        <div class="container text-center content-top-cover">
            <h1 class="mb-4 wow fadeInDown">Terms of Service</h1>
            <h5 class="mb-4">DeskOfDev Technologies</h5>
            <button class="px-5 py-2 wow fadeInUp" mat-flat-button [routerLink]="['/contact']">Contact Us</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col my-5">
            <div class="text-center my-5">
                <h2>Service Agreement</h2>
            </div>
            <p>The below terms cover use of DeskOfDev Services. By using our services, you agree these Terms and Conditions.</p>
            
            <h4 class="mt-5 mb-3">Privacy</h4>
            <p>Your privacy is important for us. Read DeskOfDev <a [routerLink]="['/privacy']">Privacy and Policy</a>.</p>
            <p>If you are a visitor/client to any Service our use of your personal information will be in accordance with our Privacy Policy.</p>

            <h4 class="mt-5 mb-3">Service and Support</h4>
            <p>Development: Technical solutions and development as a service.</p>

            <h4 class="mt-5 mb-3">Obligations to Clients</h4>
            <ol>
                <li>
                    <p>We will use our reasonable endeavors to maintain the Services in an accessible and satisfactory operating condition.</p>
                </li>
                <li>
                    <p>There can however be no guarantee that the Services will always be accessible and in satisfactory operating condition and therefore we cannot and do not accept any responsibility for interruptions or failures to any Service or for any defects that may exist, or for any costs, loss of profits, loss of data, or consequential losses arising directly or indirectly from any User's use of or inability to access or use any Service.</p>
                </li>
                <li>
                    <p>
                        Half of the payment will be taken as advance and security of the project
                    </p>
                </li>
                <li>
                    <p>
                        Before starting work with us we need any government identity proof
                    </p>
                </li>
                <li>
                    <p>
                        All the requirements need to be clear before starting the project. Unclear or changes in requirement can affect the project budget
                    </p>
                </li>
            </ol>

            <h4 class="mt-5 mb-3">Other Conditions</h4>
            <ol>
                <li>
                    <p>
                        If any provision of these Terms and Conditions is held to be unenforceable, it will not affect the validity and enforceability of the remaining provisions.
                    </p>
                </li>
                <li>
                    <p>
                        These Terms and Conditions may be amended from time to time. Any amendments shall be affected by posting the amended Terms and Conditions within the Services. Business Startup may, but is not obligated to, inform Members and Subscribers of any amendment by e-mail. Business Startup may also in the same way extend these Terms and Conditions to include other conditions applicable to specific products or services offered by Business Startup from time to time.
                    </p>
                </li>
                <li>
                    <p>
                        These Terms and Conditions shall be deemed to be a contract made in India between the User and DeskOfDev and these Terms and Conditions and the User's use of the Services are subject to and shall be construed in accordance with English law.
                    </p>
                </li>
                <li>
                    <p>
                        Interpretations of this agreement and determinations that a User has breached the agreement will be made at DeskOfDev's reasonable discretion and based upon facts known to us.
                    </p>
                </li>
                <li>
                    <p>
                        The failure by Business Startup to enforce any right under these Terms and Conditions will not waive the right of Business Startup to do so.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>

<app-footbar></app-footbar>