<app-navbar></app-navbar>
<div class="page-top-cover" style="background-image: url('assets/images/main.jpg');">
    <div class="height-parent mid-cen-parent">
        <div class="container text-center content-top-cover">
            <h1 class="mb-4 wow fadeInDown">Privacy and Policy</h1>
            <h5 class="mb-4">DeskOfDev Technologies</h5>
            <button class="px-5 py-2 wow fadeInUp" mat-flat-button [routerLink]="['/contact']">Contact Us</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col my-y">
            <div class="text-center my-5">
                <h2>Privacy and Policy</h2>
            </div>

            <p>
                Your privacy is important for us.
            </p>

            <h5 class="mt-5 mb-3">When do we retain your personal information?</h5>
            <p>
                Before contacting DeskOfDev for any service, it requires some of your personal information.
            </p>
            <p>
                Information we need before contacting are Name, email, phone number and Country.
            </p>

            <h5 class="mt-5 mb-3">How We Use Your Information?</h5>
            <p>We use personal information in the file we maintain about you, and other information we obtain from your current and past activities. We may also use personal information about you to improve our marketing and promotional efforts, to analyze services, to improve our content, product offerings and services. These uses improve the services and better tailor it to meet your needs, to provide you with a smooth, efficient, safe and customized experience.</p>

            <h5 class="mt-5 mb-3">Our Disclosure of Your Information </h5>
            <p>
                We will not sell or rent your personally identifiable information to third parties without your explicit consent.
            </p>

            <h5 class="mt-5 mb-3">Your Rights and Choices</h5>
            <p>
                Where applicable law requires (and subject to any relevant exceptions under law), you may have the right to access, update, change or delete personal information by contacting us.
            </p>
            <p>
                Please note that, for technical reasons, there is likely to be a delay in deleting your personal Information from our systems when you ask us to delete it. We also will retain personal Information in order to comply with the law, protect our and others’ rights, resolve disputes or enforce our legal terms or policies, to the extent permitted under applicable law.
            </p>
            <p>
                You may have the right to restrict or object to the processing of your personal information or to exercise a right to data portability under applicable law. You also may have the right to lodge a complaint with a competent supervisory authority, subject to applicable law.
            </p>
            <p>
                Additionally, if we rely on consent for the processing of your personal information, you have the right to withdraw it at any time and free of charge. When you do so, this will not affect the lawfulness of the processing before your consent withdrawal.
            </p>
        </div>
    </div>
</div>

<app-footbar></app-footbar>